[workspace]
resolver = "2"
members = [
    "cli",
    "lib_common",
    "misc",
    "nasdaq",
    "servers",
    "vendor/json5format",
    "vendor/pmdaemon"
]

[profile.release]
strip = true      # Strip symbols from the binary to reduce size
lto = true        # Enable Link Time Optimization for better runtime performance
codegen-units = 1 # Compile as a single unit for better optimization
panic = "abort" # Optional: helps reduce size

[workspace.dependencies]
anyhow = "1.0.97"
chrono = { version = "0.4", default-features = false, features = ["serde"] }
chrono-tz = { version = "0.10.3", default-features = false }
dotenvy = "0.15.7"
serde = { version = "1.0.218", features = ["derive"] }
serde_json = "1.0.139"
static_init = "1.0.3"
tokio = { version = "1.48.0", features = ["full"] }
tokio-graceful = "0.2.2"
tokio-cron-scheduler = "0.15.1"
tokio-postgres = "0.7.13"
redis = { version = "1.0.1", features = ["tokio-comp", "connection-manager"] }
tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.22", features = ["env-filter", "json"] }
log = "0.4.27"
env_logger = "0.11.8"
actix-web = { version = "4", features = ["rustls-0_23"] }
rustls = { version = "0.23", features = ["ring"] }
rustls-pemfile = "2"
rustls-pki-types = "1"
dirs = "6.0.0"
lib_common = { path = "lib_common" } 
futures-util = "0.3.31"
axum = "0.8.4"
clap = { version = "4.5.29", features = ["derive", "env"] }
deadpool-postgres = "0.14.1"
url = "2.5"
tokio-postgres-rustls = "0.12"
rustls-native-certs = "0.8"
webpki-roots = "0.26"
reqwest = { version = "0.13.1", default-features = false, features = ["json", "native-tls"] }
rodio = { version = "0.21.1", default-features = false, features = ["playback", "symphonia-all"] }
native-tls = "0.2"
postgres-native-tls = "0.5"
