[package]
name = "lib_common"
version = "0.1.0"
edition = "2024"

[dependencies]

# cross-platform library to provide easy to use beep functions
actually_beep = "0.1.0"

# Date and time library for Rust
chrono = { version = "0.4", features = ["serde"] }
# TimeZone implementations for chrono from the IANA database
chrono-tz = "0.10.1"

# A lightweight crate that provides a convenient derive macro
# for the standard library's std::error::Error trait
thiserror = "2.0.12"

# Cross-platform system's host name functions
hostname = "0.4.0"

# Retrieve system's local IP address and Network Interfaces/Adapters on Linux, macOS and Windows
local-ip-address = "0.6.3"

# Provides support for configuration
more-config = { version = "2.1.5", features = ["all", "async"] }

# A generic serialization/deserialization framework
serde = { version = "1.0.218", features = ["derive"] }
# A JSON serialization file format
serde_json = "1.0.139"

# Safe mutable static and non const static initialization,
# and code execution at program startup/exit.
static_init = "1.0.3"

# An event-driven, non-blocking I/O platform for writing asynchronous I/O backed applications
tokio = { version = "1.48.0", features = ["full"] }
# A native, asynchronous PostgreSQL client
tokio-postgres = {version = "0.7", features = ["with-serde_json-1", "with-chrono-0_4"]}
# Conversions between Rust and Postgres values
postgres-types = { version = "0.2.9", features = ["derive"] }
serde_derive = "1.0.228"

aes = "0.8"
cbc = "0.1"
cipher = "0.4"
reqwest = { version = "0.13.1", features = ["blocking"] }
sha2 = "0.10"
base64 = "0.22.1"
hex = "0.4.3"
